{% extends "Customer/base.html" %}
{% block title %}Ecofashion Hub - Cart{% endblock %}

{% block content %}
<style>
.hidden {
  display: none;
}
/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>
<script src="https://js.stripe.com/v3/"></script>
<div class="container mt-4">
  <h1 class="text-center">Your Cart</h1>
  <div class="mb-3">
    <a href="/product" class="btn bgd-light">Back to Products</a>
  </div>
  <div class="d-flex flex-column">
  {% if cart_items %}
  <table class="table table-striped mt-4 mr-4">
    <thead class="bgd-dark">
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Size</th>
        <th>Color</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="bgd-light">
      {% for item in cart_items %}
      <tr>
        <td>{{ item.name }}</td>
        <td>${{ "%0.2f"|format(item.price) }}</td>
        <td>
<!-- Update Form -->
<form action="{{ url_for('update_cart_item', cart_item_id=item.product_id) }}" method="POST" class="d-inline">
  <input type="hidden" name="action" value="increment">
  <button type="submit" class="btn btn-sm bgd-dark">+</button>
</form>
{{ item.quantity }}
<form action="{{ url_for('update_cart_item', cart_item_id=item.product_id) }}" method="POST" class="d-inline">
  <input type="hidden" name="action" value="decrement">
  <button type="submit" class="btn btn-sm bgd-dark">-</button>
</form>
        </td>
        <td>
          <form action="{{ url_for('update_cart_item', cart_item_id=item.product_id) }}" method="POST" class="d-inline">
          <select name="size" onchange="this.form.submit()">
            {% for size_option in item.size_options %}
              <option value="{{ size_option }}" {% if item.size == size_option %}selected{% endif %}>{{ size_option }}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <select name="color" onchange="this.form.submit()">
          {% for color_option in item.color_options %}
            <option value="{{ color_option }}" {% if item.color == color_option %}selected{% endif %}>{{ color_option }}</option>
          {% endfor %}
          </select>
          </form>
        </td>
        <td>${{ "%0.2f"|format(item.price * item.quantity) }}</td>
        <td>
          <form action="{{ url_for('delete_cart_item', cart_item_id=item.product_id) }}" method="POST">
            <button type="submit" class="btn bgd-dark">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- Right side - Order summary -->
<div class="flex-grow-1">
  <h2 class="mb-4">Order Summary</h2>
  <!-- Subtotal, Promo code discount, Shipping costs, and Total cost -->
  <hr class="bgd-light">
  <div class="d-flex justify-content-between">
    <div>Subtotal:</div>
    <div id="subtotal">${{ "%0.2f"|format(cart_total) }}</div>
  </div>
  <div class="d-flex justify-content-between">
    <div>Shipping Costs:</div>
    <div id="shipping_costs">$5</div>
  </div>
  <hr class="bgd-light">
  <div class="d-flex justify-content-between font-weight-bold">
    <div>Total:</div>
    <div id="total_cost">${{ "%0.2f"|format(cart_total + 5) }}</div>
  </div>

  <div class="d-flex justify-content-around">
    <div id="express-checkout-element" class="mr-2"></div>
    <a href="/payment" class="btn bgd-light">Checkout with card & redeem points</a>
  </div>
  {% else %}
  <div class="text-center mt-4">
    <h3>Your cart is empty</h3>
  </div>
  {% endif %}
</div>
</div>
<script>
  const stripe = Stripe("pk_test_51NbJAUL0EO5j7e8jnG1wekAMtbCRj97AnTHjfWjiqYWtVAEFli8hfYCfs0vc1C60owBtTjcEiOjMRSH9X7v8V4sU00qLJ1f0Xr");

// The items the customer wants to buy
const items = [{ id: document.getElementById('product_id') }];

let elements;

initialize();
checkStatus();

document.querySelector("#order_form").addEventListener("submit", handleSubmit);

let emailAddress = '';
// Fetches a payment intent and captures the client secret
async function initialize() {
  const response = await fetch("/create_intent", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ items }),
  });
  const { clientSecret, amount } = await response.json();

  // const appearance = {
  //   theme: 'stripe',
  //   variables: {
  //   colorText: '#000000',
  //   }
  // };

  elements = stripe.elements({
    mode: 'payment',
    amount: amount,
    currency: 'sgd',
  })
  const expressCheckoutElement = elements.create('expressCheckout');
  expressCheckoutElement.mount('#express-checkout-element');

  expressCheckoutElement.on('confirm', function(event) {
  // call Stripe function to initiate payment confirmation
  stripe.confirmPayment({
    elements,
    clientSecret,
    confirmParams: {
      return_url: 'https://confunius-sturdy-space-guide-9pwww99p7vqfxrqw-5000.app.github.dev/processpayment',
    },
  })
  .then(function(result) {
    if (result.error) {
      // Inform the customer that there's an error.
      alert('there is an error with the stripe payment.')
    }
  });
});
}
async function handleSubmit(e) {
  e.preventDefault();
  setLoading(true);

  const { error } = await stripe.confirmPayment({
    elements,
    confirmParams: {
      // Make sure to change this to your payment completion page
      return_url: "https://confunius-sturdy-space-guide-9pwww99p7vqfxrqw-5000.app.github.dev/processpayment",
      receipt_email: emailAddress,
    },
  });

  // This point will only be reached if there is an immediate error when
  // confirming the payment. Otherwise, your customer will be redirected to
  // your `return_url`. For some payment methods like iDEAL, your customer will
  // be redirected to an intermediate site first to authorize the payment, then
  // redirected to the `return_url`.
  if (error.type === "card_error" || error.type === "validation_error") {
    showMessage(error.message);
  } else {
    showMessage("An unexpected error occurred.");
  }

  setLoading(false);
}

// Fetches the payment intent status after payment submission
async function checkStatus() {
  const clientSecret = new URLSearchParams(window.location.search).get(
    "payment_intent_client_secret"
  );

  if (!clientSecret) {
    return;
  }

  const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

  switch (paymentIntent.status) {
    case "succeeded":
      showMessage("Payment succeeded!");
      break;
    case "processing":
      showMessage("Your payment is processing.");
      break;
    case "requires_payment_method":
      showMessage("Your payment was not successful, please try again.");
      break;
    default:
      showMessage("Something went wrong.");
      break;
  }
}

// ------- UI helpers -------

function showMessage(messageText) {
  const messageContainer = document.querySelector("#payment-message");

  messageContainer.classList.remove("hidden");
  messageContainer.textContent = messageText;

  setTimeout(function () {
    messageContainer.classList.add("hidden");
    messageContainer.textContent = "";
  }, 4000);
}

// Show a spinner on payment submission
function setLoading(isLoading) {
  if (isLoading) {
    // Disable the button and show a spinner
    document.querySelector("#submit").disabled = true;
    document.querySelector("#spinner").classList.remove("hidden");
    document.querySelector("#button-text").classList.add("hidden");
  } else {
    document.querySelector("#submit").disabled = false;
    document.querySelector("#spinner").classList.add("hidden");
    document.querySelector("#button-text").classList.remove("hidden");
  }
}
</script>
{% endblock %}
