{% extends "Admin/adminbase.html" %}
{% block title %}Ecofashion Hub - Customer Home{% endblock %}

{% block content %}
<div class="landing-page">
        <div class="row col-lg-10">
            <div class="col-md-6 text-center">
                <br><br><br><br><br><br><br>
                <h1 class="paragraph-text">ADMIN SEES THIS PAGE.</h1>
            </div>
            <div class="col-md-6 text-center">
                <img src="../static/img/landingpage.jpg" width="100%" alt="Image">
            </div>
        </div>


    </div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
