{% extends "User/base.html" %}
{% block title %} Create Account {% endblock %}
{% block content %}
{% from "_formHelper.html" import render_field %}


<div class="msg">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message">
                    {{ message }}
                    <button class="cancel-button" onclick="dismissFlashMessage(this)">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<script>
function dismissFlashMessage(event) {
    event.target.parentElement.style.display = "none";
}
</script>

<style>
    .toggle-password:focus {
      box-shadow: none !important;
    }
    .ctoggle-password:focus {
      box-shadow: none !important;
    }
    .input-group-addon {
    position: relative;

  }

  .toggle-password {
    position: absolute;
    top: 25%;
    right: 40px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .ctoggle-password {
    position: absolute;
    top: 25%;
    right: 40px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #password:focus{
    z-index: 0;
  }
  #confirmPassword:focus{
    z-index: 0;
  }
  #username{
    margin-right: 1.5rem;
  }
  #email{
    margin-right: 1.5rem;
  }
  .popup {
        position: absolute;
        border-radius: 10px !important;
        background-color: white;
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        bottom: 90px;
        display: none;
        z-index: 99;
        margin-right: 1.5rem;
      }
      .popup p{
        margin-bottom: 0;

      }

      .popup::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: white transparent transparent transparent;
      }
      @media (max-width: 767px){
        .popup p{
        font-size: x-small !important;

      }
      #password-error{
        font-size: x-small !important;
      }
      #cpassword-error{
        font-size: x-small !important;
      }
      .popup{
        bottom: 80px;
      }
      .popup h5{
        font-size: small !important;
      }
      #submitBtn{
        margin-right: 1rem;
      }
      }
  </style>

  <div class="container2">
<br>
    <h1 class="title" style="text-align: center;">CREATE AN ACCOUNT</h1>
    <br>
    <div class="form-container">
      <p style="font-size:13px;">You will receive the confirmation mail to your email address associated with <br> account. Please make sure to check your incoming email with us.</p>
    <form action="/UserRegistrationPage" method="POST">
      <div class="form-inline">
        <div class="form-group2" style="padding-left:60px; padding-right:60px;">
          {{ render_field(form.userName, class="form-control", style="width: 300px; height:40px;")}}
        </div>
        <div class="form-group2" style="padding-left:60px; padding-right:60px;">
          {{ render_field(form.userEmail, class="form-control", style="width: 300px; height:40px;")}}
        </div>
      </div>
<!--      <div class="form-inline">-->
<!--        <div class="form-group2" style="padding-left:60px; padding-right:60px;">-->
<!--          {{ render_field(form.userPassword, class="form-control", style="width: 300px; height:40px;")}}-->
<!--        </div>-->
<!--        <div class="form-group2" style="padding-left:60px; padding-right:60px;">-->
<!--          {{ render_field(form.userCfmPassword, class="form-control", style="width: 300px; height:40px;")}}-->
<!--        </div>-->
<!--      </div>-->

        <div class="input-group col-xs-12 col-sm-8 col-md-8 col-lg-5 mb-3">
          <div class="popup">
            <h5>Password must:</h5>
              <p id="length" ><i id="ilength" class="fa fa-solid " style=" margin-right: 10px;" ></i>Have at least 8 characters</p>
              <p id="lower"><i id="ilower" class="fa fa-solid " style=" margin-right: 10px;" ></i>Have at least 1 lowercase letter (a, b, c...)</p>
              <p id="upper"><i id="iupper" class="fa fa-solid " style=" margin-right: 10px;" ></i>Have at least 1 uppercase letter (A, B, C...)</p>
              <p id="number"><i id="inumber" class="fa fa-solid " style=" margin-right: 10px;" ></i>Have at least 1 number (1, 2, 3...)</p>
              <p id="special"><i id="ispecial" class="fa fa-solid " style=" margin-right: 10px;" ></i>Have at least 1 special character (@,#,!...)</p>
            <h5>Password must not:</h5>
            <p id="consecutive"><i id="iconsecutive" class="fa fa-solid " style=" margin-right: 10px;" ></i>Contain 4 consecutive characters (e.g. "1111", "12345", "abcde" or "qwert" )</p>

          </div>
<!--          <div class="input-group-addon p-2 border border-right-0 border-success">-->
<!--            <i class="fa fa-lock"></i>-->
<!--          </div>-->

          <input type="password" oninput="handlePasswordInputChange()" class="form-control border border-left-0 border-success" id="password" name="password" placeholder="Password" required>
          <div class="input-group-append">
            <button class="btn toggle-password" type="button">
              <i class="fa fa-eye"></i>
            </button>
          </div>
          <div id="password-error" style="display: none; color: red;" class="invalid-feedback">Password must match all requirements</div>
        </div>

        <!-- confirmPassword -->
        <div class="input-group col-xs-12 col-sm-8 col-md-8 col-lg-5 mb-3">

<!--            <div class="input-group-addon p-2 border border-right-0 border-success">-->
<!--              <i class="fa fa-lock"></i>-->
<!--            </div>-->

            <input type="password" oninput="handlePasswordInputChange()" class="form-control border border-left-0 border-success" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            <div class="input-group-append">
              <button class="btn ctoggle-password " type="button">
                <i class="fa fa-eye"></i>
              </button>
            </div>
            <div id="cpassword-error" style="display: none; color: red;" class="invalid-feedback">Passwords do not match</div>
          </div>
      <div class="form-inline">
        <div class="form-group2" style="padding-left:60px; padding-right:60px;">
          {{ render_field(form.userAddress, class="form-control", style="width: 300px; height:40px;")}}</div>
        <div class="form-group2" style="padding-left:60px; padding-right:60px;">
          {{ render_field(form.userPostalCode, class="form-control", style="width: 300px; height:40px;")}}</div>
        <!--<label>Gender:</label>
          <input type="radio" name="gender" value="male"> Male
          <input type="radio" name="gender" value="female"> Female -->
        </div>


      <div class="form-inline" style="padding-left:60px; padding-right:60px;">
        <div class="form-group mr-9">
          <input type="checkbox" id="showPasswordCheckbox" style="border-radius: 8px; width: 24px; height: 24px;">
          <label style="padding-left:22px;">Show Password:</label>
        </div>
      </div>
-->
      <div class="line2"></div>
      <div style="margin-left:50px;">
        <div class="title" style="color:#4B6043;"><strong><u>MEMBERSHIP AGREEMENT*</u></strong></div>
        <p style="font-size:13px;">By creating an account, you agree to Ecofashion Hub's Privacy Policy and terms of use.</p>
      </div>


      <button type="submit" class="btn btn-primary settings-btn" style="color: #4b6043;">Create</button>
    </form>
    </div>


  </div>

<script>
    // Password visibility toggle
    const passwordInput = document.getElementById("password");
    const togglePasswordButton = document.querySelector(".toggle-password");

    togglePasswordButton.addEventListener("click", function () {
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        togglePasswordButton.innerHTML = '<i class="fa fa-eye-slash"></i>';
      } else {
        passwordInput.type = "password";
        togglePasswordButton.innerHTML = '<i class="fa fa-eye"></i>';
      }
    });

    //confirm password toggle
    const cpasswordInput = document.getElementById("confirmPassword");
    const ctogglePasswordButton = document.querySelector(".ctoggle-password");

    ctogglePasswordButton.addEventListener("click", function () {
      if (cpasswordInput.type === "password") {
        cpasswordInput.type = "text";
        ctogglePasswordButton.innerHTML = '<i class="fa fa-eye-slash"></i>';
      } else {
        cpasswordInput.type = "password";
        ctogglePasswordButton.innerHTML = '<i class="fa fa-eye"></i>';
      }
    });

    // Password validation function
    function validatePassword() {
      const password = passwordInput.value;
      const passwordError = document.getElementById("password-error");
      const length = document.getElementById('length')
      const lower = document.getElementById('lower')
      const upper = document.getElementById('upper')
      const number = document.getElementById('number')
      const special = document.getElementById('special')
      const consecutive = document.getElementById('consecutive')

      //icons
      const ilength = document.getElementById('ilength')
      const ilower = document.getElementById('ilower')
      const iupper = document.getElementById('iupper')
      const inumber = document.getElementById('inumber')
      const ispecial = document.getElementById('ispecial')
      const iconsecutive = document.getElementById('iconsecutive')

      const minLength = 8;
      const hasUppercase = /[A-Z]/.test(password);
      const hasLowercase = /[a-z]/.test(password);
      const hasDigit = /[0-9]/.test(password);
      const hasSpecialChar = /[!@#$%^&*()]/.test(password);
      const hasConsecutiveChars = /(\w)\1{3}/.test(password);

      if (password.length < minLength)  {length.style.color = "red";ilength.className=''; ilength.classList.add("fa-circle","fa-sm","fa", "fa-solid")}
      else {length.style.color = "green";ilength.className=''; ilength.classList.add("fa-check","fa", "fa-solid")}


      if (!hasLowercase)  {lower.style.color = "red";ilower.className=''; ilower.classList.add("fa-circle","fa-sm","fa", "fa-solid")}
      else {lower.style.color = "green";ilower.className=''; ilower.classList.add("fa-check","fa", "fa-solid")}

      if (!hasUppercase)  {upper.style.color = "red";iupper.className=''; iupper.classList.add("fa-circle","fa-sm","fa", "fa-solid")}
      else {upper.style.color = "green";iupper.className=''; iupper.classList.add("fa-check","fa", "fa-solid")}

      if (!hasDigit)  {number.style.color = "red";inumber.className=''; inumber.classList.add("fa-circle","fa-sm","fa", "fa-solid")}
      else {number.style.color = "green";inumber.className=''; inumber.classList.add("fa-check","fa", "fa-solid")}

      if (!hasSpecialChar)  {special.style.color = "red";ispecial.className=''; ispecial.classList.add("fa-circle","fa-sm","fa", "fa-solid")}
      else {special.style.color = "green";ispecial.className=''; ispecial.classList.add("fa-check","fa", "fa-solid")}

      if (hasConsecutiveChars)  {consecutive.style.color = "red";iconsecutive.className=''; iconsecutive.classList.add("fa-circle","fa-sm","fa", "fa-solid")}
      else {consecutive.style.color = "green";iconsecutive.className=''; iconsecutive.classList.add("fa-check","fa", "fa-solid")}


      if (password.length < minLength || hasConsecutiveChars || !hasUppercase || !hasLowercase || !hasDigit || !hasSpecialChar) {
        return true;
      }

      return false;
    }
    function validateForm() {
      const hasValidationError = validatePassword()
      console.log('validate passw, ',validatePassword())
      const passwordError = document.getElementById("password-error");
      if (hasValidationError) {
        const popup = document.querySelector(".popup");
        passwordError.style.display = "block";
        popup.style.display = "block";
         // Prevent form submission
      }
      const confirmPassword = ConfirmPassword()
      if(!confirmPassword){

        return false
      }

      return true;
    }
    function handlePasswordInputChange() {
      const popup = document.querySelector(".popup");
      const passwordError = document.getElementById("password-error");
      const cpasswordError = document.getElementById("cpassword-error");
      popup.style.display = "none";
      passwordError.style.display = "none";
      cpasswordError.style.display = "none";

    }

    function ConfirmPassword() {
    const passwordInput = document.getElementById("password");
    const confirmPasswordInput = document.getElementById("confirmPassword");

    const password = passwordInput.value;
    const confirmPassword = confirmPasswordInput.value;

    if (password !== confirmPassword) {
      const errorElement = document.getElementById("cpassword-error");
      errorElement.textContent = "Passwords do not match";
      errorElement.style.display = "block";
      return false;
    }

    return true;
  }
  </script>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
