{% extends "User/CustomerLoggedInBase.html" %}
{% block title %}Ecofashion Hub - Payment {% endblock %}

{% block content %}
{% from "_formHelper.html" import render_field %}
<div class="container-fluid">
  <div class="row">

        <br><br>
        <!-- Add your main content here -->
        <div class="container">
            <br>
          <h3 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 28px;">Payment Methods</h3>
          <div class="line-container">
            <hr class="half-screen-line">
          </div>
          <br>
          <form>
          <br>
            <div class="form-inline">
              <div class="form-group2" style="padding-left:60px; padding-right:60px;">
                {{ render_field(form.userFullName, class="form-control", style="width: 300px; height:40px;")}}
              </div>
              <div class="form-group2" style="padding-left:60px; padding-right:60px;">
                {{ render_field(form.userEmail, class="form-control", style="width: 300px; height:40px;")}}
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    {{ render_field(form.userAddress, class="form-control", style="width: 300px; height:40px;")}}
                </div>
                <div class="form-group col-md-4">
                    {{ render_field(form.userPostalCode, class="form-control", style="width: 300px; height:40px;")}}
                </div>
            </div>
            <br>
            <h3 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 28px;">Card Details</h3>
            <div class="line-container">
              <hr class="half-screen-line">
            </div>
              <br>
            <div class="form-group2" style="padding-left:60px; padding-right:60px;">
              {{ render_field(form.userCardName, class="form-control", style="width: 300px; height:40px;")}}
            </div>
            <div class="form-group2" style="padding-left:60px; padding-right:60px;">
              {{ render_field(form.userCardNumber, class="form-control", style="width: 300px; height:40px;", id="userCardNumber")}}
              <div id="cardLogo" style="margin-top: 10px;"></div>
            </div>
            <div class="row">
              <div class="col-md-8">
                {{ render_field(form.userCardExp, class="form-control", style="width: 300px; height:40px;")}}
              </div>
              <div class="col-md-4">
                {{ render_field(form.userCardSec, class="form-control", style="width: 300px; height:40px;")}}
              </div>
               <div class="button-container">
                  <button type="submit" class="btn btn-primary settings-btn" style="color: #4b6043;">Save</button>
                </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>

</script>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
