{% extends "User/CustomerLoggedInBase.html" %}
{% block title %}Ecofashion Hub - Customer Account Deletion{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <!-- Vertical Navbar -->
      <nav class="navbar col-md-2 vertical-nav navbar col-md-3 vertical-nav">
        <ul class="navbar-nav">
          <li></li>
          <li class="nav-item">
              <a class="nav-link" href="/UserProfile">My Account </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/Wishlist">My Wishlist</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/OrderStatus">Order Status</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/OrderHistory">Order History</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/CustomerAccountDelete">Account Deletion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Payment Methods</a>
          </li>
          <!-- Add more history items as needed -->
        </ul>
      </nav>
      <!-- Vertical white line -->
      <div class="vertical-line col-md-13"></div>
      <!-- Your main content here -->
      <div class="col-md-8">
        <br><br>
        <!-- Add your main content here -->
        <div class="container">
          <h2 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 28px;">WE'RE SAD TO SEE YOU GO</h2>
          <div class="line-container">
            <hr class="half-screen-line" style="margin-bottom: 5px;">
          </div>
          <br>
          <form>
            <div class="form-group">
              <label for="username">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Name"  >
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" placeholder="Email"  >
              </div>
            <div class="form-group">
              <label for="address">Address:</label>
              <input type="address" class="form-control" id="address" placeholder="Address" >
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="text" class="form-control" id="dob" placeholder="Date of Birth"  >
              </div>
            <br>
            <div class="button-container">
              <button type="submit" class="btn btn-primary settings-btn" style="color: #82000a;">Deactivate Account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
