{% extends "User/base.html" %}
{% block title %} Create Account {% endblock %}
{% block content %}
{% from "_formHelper.html" import render_field %}

  <div class="container2">
<br>
    <h1 class="title" style="text-align: center;">CREATE AN ACCOUNT</h1>
    <br>
    <div class="form-container">
      <p style="font-size:13px;">You will receive the confirmation mail to your email address associated with <br> account. Please make sure to check your incoming email with us.</p>
    <form action="/UserRegistrationPage" method="POST">
      <div class="form-inline">
        <div class="form-group2" style="padding-left:60px; padding-right:60px;">
          {{ render_field(form.userName, class="form-control", style="width: 300px; height:40px;")}}
        </div>
        <div class="form-group2" style="padding-left:60px; padding-right:60px;">
          {{ render_field(form.userEmail, class="form-control", style="width: 300px; height:40px;")}}
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group2" style="padding-left:60px; padding-right:60px;">
          {{ render_field(form.userPassword, class="form-control", style="width: 300px; height:40px;")}}
        </div>
        <div class="form-group2" style="padding-left:60px; padding-right:60px;">
          {{ render_field(form.userCfmPassword, class="form-control", style="width: 300px; height:40px;")}}
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group2" style="padding-left:60px; padding-right:60px;">
          {{ render_field(form.userAddress, class="form-control", style="width: 300px; height:40px;")}}</div>
        <div class="form-group2" style="padding-left:60px; padding-right:60px;">
          {{ render_field(form.userPostalCode, class="form-control", style="width: 300px; height:40px;")}}</div>
        <!--<label>Gender:</label>
          <input type="radio" name="gender" value="male"> Male
          <input type="radio" name="gender" value="female"> Female -->
        </div>
      </div>
      <div class="form-inline" style="padding-left:60px; padding-right:60px;">
        <div class="form-group mr-9">
          <input type="checkbox" id="showPasswordCheckbox" style="border-radius: 8px; width: 24px; height: 24px;">
          <label style="padding-left:22px;">Show Password:</label>
        </div>
      </div>
-->
      <div class="line2"></div>
      <div style="margin-left:50px;">
        <div class="title" style="color:#4B6043;"><strong><u>MEMBERSHIP AGREEMENT*</u></strong></div>
        <p style="font-size:13px;">By creating an account, you agree to Ecofashion Hub's Privacy Policy and terms of use.</p>
      </div>


      <button type="submit" class="btn btn-primary settings-btn" style="color: #4b6043;">Create</button>
    </form>
    </div>


  </div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
