{% extends "Customer/CustomerLoggedInBase.html" %}
{% block title %}Ecofashion Hub - Customer Profile{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <!-- Vertical Navbar -->
      <nav class="navbar col-md-2 vertical-nav navbar col-md-3 vertical-nav">
        <ul class="navbar-nav">
          <li></li>
          <li class="nav-item active">
              <a class="nav-link" href="/UserProfile">My Account </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/Wishlist">My Wishlist</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/OrderStatus">Order Status</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/OrderHistory">Order History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Payment/{{ session['id']}}">Payment Methods</a>
          </li>
          <!-- Add more history items as needed -->
        </ul>
      </nav>
      <!-- Vertical white line -->
      <div class="vertical-line col-md-13"></div>
      <!-- Your main content here -->
      <div class="col-md-8">
        <br><br>
        <!-- Add your main content here -->
        <div class="container">
          <h2 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 28px;">PERSONAL INFORMATION</h2>
          <div class="line-container">
            <hr class="half-screen-line">
          </div>
          <br>
            <div class="form-group">
              <label for="userfullname">Full Name:</label>
              <p>{{ session['userfullname'] }}</p>
            </div>
            <div class="form-group">
              <label for="username">Username:</label>
              <p> {{ session['username'] }} </p>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <p> {{ session['useremail'] }} </p>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="address">Address:</label>
                    <p>{{ session['useraddress']}}</p>
                </div>
                <div class="form-group col-md-4">
                    <label for="postalCode">Postal Code:</label>
                    <p>{{ session['userpostalcode']}}</p>
                </div>
            </div>
<!--            <div class="form-group">-->
<!--              <label for="dob">Date of Birth:</label>-->
<!--              <input type="date" class="form-control" id="dob" value="Date of Birth">-->
<!--            </div>-->
            <div class="link-container">
              <a href="/EditCustomerAccount/{{ session['id']}}">Edit</a>
              <a href="/CustomerChangePassword/{{ session['id']}}">Change Password</a>
            </div>
            <br>
                <div class="button-container">
                  <form action="/UserDeactivation/{{ session['id']}}" method="POST">
                  <button type="submit" class="btn btn-primary settings-btn" style="color: #82000a;">Deactivate Account</button>
                  </form>
                </div>

            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
